:root {
  font-size: 62.5%;

  --hue: 274;
  --main-background-color: hsla(var(--hue), 100%, 97%, 1);
  --secondary-background-color: hsla(var(--hue), 17%, 62%, 1);
  --button-background-color: hsla(var(--hue), 91%, 96%, 1);
  --h1-background-color: hsla(var(--hue), 18%, 79%, 1);
  --h3-font-color: hsla(var(--hue), 17%, 35%, 1);
  --p-font-color: hsla(var(--hue), 84%, 12%, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-size: 1.6rem;

  background: var(--main-background-color);

  text-align: center;

  overflow: scroll;
}

header {
  background: var(--secondary-background-color);
  max-width: 100%;
  transition: all 500ms;

}

header .logo {
  width: 13.7rem;
  height: 13.7rem;
  
  margin-block: 3.2rem;

  animation: logo 700ms;
}

header h1 {
  width: 100%;
  background: var(--h1-background-color);

  font-size: clamp(4rem, 2.5vw, 4.8rem);
  color: white;
  text-transform: uppercase;
  font-family: 'Staatliches', cursive;
  line-height: 3.4rem;
  font-weight: 400;

  padding-block: 0.8rem;
  margin-bottom: 2.9rem;

  animation: logo 700ms;
}

header p {
  font-family: 'Palanquin', sans-serif;
  font-size: clamp(1.4rem, 4.5vw, 2.4rem);
  text-align: center;
  line-height: 2rem;

  width: 100%;
  padding: 1.4rem 3.2rem 6.1rem;

  background: var(--main-background-color);

  animation: img 700ms;
}

main {
  display: grid;
  gap: 3.6rem;
  max-width: 38.4rem;
  padding-bottom: 6rem;
  transition: all 500ms;
}

main h3 {
  animation: nome 700ms; 
} 

main img {
  animation: img 700ms;
}

main .smallBox,
main .largeBox {
  width: 100%;
  position: relative;
  object-fit: cover;

  transition: all 300ms;
}

main .smallBox:hover,
main .largeBox:hover {
  transform: scale(1.1);
}

main .smallBox h3,
main .largeBox h3 {
  position: absolute;
  top: 1.6rem;
  right: 4.8rem;
  z-index: 1;
  border-radius: 2rem;

  color: var(--h3-font-color);
  font-family: 'Staatliches', cursive;
  font-weight: 400;
  font-size: 2rem;
  line-height: 3.4rem;

  padding: 1px 2.4rem;

  background: var(--button-background-color);
}

main .smallBox img {
  width: 32rem;
  height: 25rem;
  object-fit: cover;
  border-radius: 2rem;
}

main .largeBox img {
  width: 32rem;
  height: 45rem;
  object-fit: cover;
  border-radius: 2rem;
}

main .smallBox img:hover,
main .largeBox img:hover {
  filter: blur(0.5px);
}

.rodape {
  display: none;
}

footer {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
  line-height: 2.8rem;
  color: var(--h3-font-color);
}

footer a {
  color: var(--h3-font-color);
  font-weight: 700;
}

/* AJUSTES PARA TELAS */
@media (max-width: 355px) {
  main .smallBox,
  main .largeBox {
    padding-inline: 3.2rem;
  }

  main .smallBox img,
  main .largeBox img {
    width: 100%;
  }
}

@media (min-width: 600px) {
  body {
    display: flex;
    justify-content: space-between;
    max-width: 128rem;
  }

  header {
    max-width: 27rem;
  }

  header p {
    background: none;
    color: white;
    text-align: left;
  }

  main {
    max-width: 100%;
    margin: 6.4rem 1rem 0 ;

    gap: 3.2rem;

    grid-template-areas:
    'A B'
    'D B'
    'D E';
  }

  .colA {
    grid-area: A;
  }

  .colB {
    grid-area: B;
  }

  .colC {
    grid-area: C;
  }

  .colD {
    grid-area: D;
  }

  .colE {
    grid-area: E;
  }

  .colF {
    grid-area: F;
  }

  main .smallBox,
  main .largeBox {
    max-width: 22rem;
    height: fit-content;
  }

  main .smallBox img,
  main .largeBox img {
    max-width: 100%;
    object-fit: cover;
  }

  main .smallBox h3,
  main .largeBox h3 {
    right: 2.5rem;
  }
}

@media (min-width: 920px) {
  .rodape {
    display: initial;
  }

  header {
    max-width: 37.7rem;
  }

  header p {
    line-height: 2rem;
  }

  main {
    grid-template-areas:
    'A B C'
    'D B F'
    'D E F';

    margin-right: 8.1rem;
  }
}

/* ANIMAÇÕES */
@keyframes img {
  0% {
    opacity: 0;
    transform: translateY(150px);
  }
  
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes nome {
  0% {
    opacity: 0;
    transform: translateY(-150px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes logo {
  0% {
    opacity: 0;
    transform: translateY(-150px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}